@import "tailwindcss";

@theme {
  --color-purple-50: #f5f6f2;
  --color-purple-100: #e7e9dd;
  --color-purple-200: #cbd0bc;
  --color-purple-300: #adb599;
  --color-purple-400: #8f9a76;
  --color-purple-500: #4f5d2f;
  --color-purple-600: #424e27;
  --color-purple-700: #353e20;
  --color-purple-800: #282e18;
  --color-purple-900: #1b1f10;
  --color-purple-950: #0e1008;

  --color-blue-50: #f5f6f2;
  --color-blue-100: #e7e9dd;
  --color-blue-200: #cbd0bc;
  --color-blue-300: #adb599;
  --color-blue-400: #8f9a76;
  --color-blue-500: #4f5d2f;
  --color-blue-600: #424e27;
  --color-blue-700: #353e20;
  --color-blue-800: #282e18;
  --color-blue-900: #1b1f10;
  --color-blue-950: #0e1008;

  --color-emerald-50: #f5f6f2;
  --color-emerald-100: #e7e9dd;
  --color-emerald-200: #cbd0bc;
  --color-emerald-300: #adb599;
  --color-emerald-400: #8f9a76;
  --color-emerald-500: #4f5d2f;
  --color-emerald-600: #424e27;
  --color-emerald-700: #353e20;
  --color-emerald-800: #282e18;
  --color-emerald-900: #1b1f10;
  --color-emerald-950: #0e1008;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Base custom classes if needed */
